<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="com.spring.basic_of_spring.beans.Client">
        <constructor-arg type="long" value="3044312555"/>
        <constructor-arg value="Alex Axent"/>
        <property name="greeting" value="Hello, there!"/>
    </bean>

    <bean id="eventLogger" class="com.spring.basic_of_spring.loggers.ConsoleEventLogger"/>

    <bean id="app" class="com.spring.basic_of_spring.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>

    <bean id="event" class="com.spring.basic_of_spring.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="fileEventLogger" class="com.spring.basic_of_spring.loggers.FileEventLogger" init-method="init">
        <constructor-arg value="file.txt"/>
    </bean>

    <bean id="cacheFileEventLogger" class="com.spring.basic_of_spring.loggers.CacheFileEventLogger"
          destroy-method="destroy" parent="fileEventLogger">
        <constructor-arg index="1" value="5"/>
    </bean>

</beans>